.container {
    padding: 15px;
  }
  
  ion-card {
    border-radius: 10px;
    background-color: #f8f8f8;
  }
  
  ion-item {
    --inner-padding-start: 5px;
    --inner-padding-end: 5px;
  }
  
  ion-label {
    width: 100%;  
    text-align: left;  
    font-size: 14px;  
    padding: 0 5px;  
  }
  
  