<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- Captura a mudança no select de estoques e chama a função para exibir os produtos -->
      <ion-select placeholder="Selecione o Estoque" [(ngModel)]="selectedEstoque" (ngModelChange)="exibirProdutosPorEstoque($event)">
        <ion-select-option *ngFor="let estoque of estoques" [value]="estoque.id_estoque">
          {{ estoque.nome_estoque }}
        </ion-select-option>
      </ion-select>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="listagemcompras()">
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="validateAndNavigate()">
        <ion-icon slot="icon-only" name="time-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="search-container">
    <ion-searchbar placeholder="Pesquisar"></ion-searchbar>
    <ion-button fill="clear" (click)="filterVencidos()">
      <ion-icon slot="icon-only" name="alert-outline"></ion-icon>
      <ion-label>Vencidos</ion-label>
    </ion-button>
    <ion-button fill="clear" (click)="filterProximosVencer()">
      <ion-icon slot="icon-only" name="hourglass-outline"></ion-icon>
      <ion-label>A vencer</ion-label>
    </ion-button>
  </div>

  <ion-list>
    <ion-item *ngFor="let produto of produtosFiltrados">
      <ion-label>
        <h2>{{ produto.nome_produto }}</h2>
        <p>Categoria: {{ getCategoriaNome(produto.id_categoria) }}</p>
        <p>Quantidade: {{ produto.quantidade }}</p>
        <p>Data de Validade: {{ produto.data_validade | date: 'shortDate' }}</p>
      </ion-label>
      <ion-button color="primary" (click)="editProduto(produto)">
        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
      </ion-button>
      <ion-button color="danger" (click)="excluirProduto(produto.id_produto)">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="openEstoqueModal()">
        <ion-icon name="add-circle-outline"></ion-icon>
        <ion-label>Adicionar estoque</ion-label>
      </ion-fab-button>
      <ion-fab-button (click)="openCategoriaModal()">
        <ion-icon name="archive-outline"></ion-icon>
        <ion-label>Adicionar categoria</ion-label>
      </ion-fab-button>
      <ion-fab-button (click)="openProdutoModal()">
        <ion-icon name="basket-outline"></ion-icon>
        <ion-label>Adicionar produto</ion-label>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>  
</ion-content>
