<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-select placeholder="Selecione o Estoque">
        <ion-select-option value="1">Opção 1</ion-select-option>
        <ion-select-option value="2">Opção 2</ion-select-option>
      </ion-select>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="time-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="search-container">
    <ion-searchbar placeholder="Pesquisar"></ion-searchbar>
    <ion-button fill="clear">
      <ion-icon slot="icon-only" name="filter-outline"></ion-icon>
    </ion-button>
  </div>

  <div class="no-stock">
    <p>Sem estoque</p>
    <p>Selecione o botão “+” adicionar</p>
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end"> 
    <ion-fab-button>
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="archive-outline"></ion-icon>
        <ion-label>Adicionar categoria</ion-label>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="basket-outline"></ion-icon>
        <ion-label>Adicionar produto</ion-label>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="add-circle-outline"></ion-icon>
        <ion-label>Adicionar estoque</ion-label>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>  
</ion-content>
