<ion-header>
  <ion-toolbar>
    <ion-title>Histórico de Movimentações</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goBack()">
        <ion-icon class="close-icon" slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Filtro de data -->
  <form (ngSubmit)="onFilter()" #filterForm="ngForm">
    <ion-item>
      <ion-label>Data Início</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="filtro.dataInicio" name="dataInicio" required></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Data Fim</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="filtro.dataFim" name="dataFim" required></ion-datetime>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="!filterForm.form.valid">Filtrar</ion-button>
  </form>

  <!-- Listagem de movimentações filtradas -->
  <ion-list>
    <ion-item *ngFor="let mov of movimentacoesFiltradas">
      <ion-label>
        <h2>Produto ID: {{ mov.id_produto }}</h2>
        <p>Tipo de Movimentação: {{ mov.tipo_movimentacao }}</p>
        <p>Quantidade: {{ mov.quantidade_movimentada }}</p>
        <p>Data: {{ mov.data_movimentacao | date:'short' }}</p>
        <p *ngIf="mov.tipo_movimentacao === 'entrada'">Data de Entrada: {{ mov.data_entrada | date:'short' }}</p>
        <p *ngIf="mov.tipo_movimentacao === 'exclusao'">Data de Exclusão: {{ mov.data_exclusao | date:'short' }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- Relatório de movimentações -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Relatório de Movimentações</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Total de Entradas: {{ totalEntradas }}</p>
      <p>Total de Exclusões: {{ totalExclusoes }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
