<ion-header>
  <ion-toolbar>
    <ion-title>Cadastrar Produto</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
          <ion-icon class="close-icon" slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Formulário para cadastro/edição de produto -->
  <form (ngSubmit)="onSubmit()" #produtoForm="ngForm">
    <ion-item>
      <ion-label position="floating">Nome do Produto</ion-label>
      <ion-input type="text" required [(ngModel)]="produto.nome_produto" name="nome_produto"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Código de Barras</ion-label>
      <ion-input type="text" required [(ngModel)]="produto.codigo_barras" name="codigo_barras"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Quantidade</ion-label>
      <ion-input type="number" required [(ngModel)]="produto.quantidade" name="quantidade"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Data de Validade</ion-label>
      <ion-input type="date" required [(ngModel)]="produto.data_validade" name="data_validade"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Categoria</ion-label>
      <ion-select [(ngModel)]="produto.id_categoria" name="id_categoria">
        <ion-select-option *ngFor="let categoria of categorias" [value]="categoria.id_categoria">
          {{ categoria.nome_categoria }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Preço Pago</ion-label>
      <ion-input type="number" required [(ngModel)]="produto.valor_pago" name="valor_pago"></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="!produtoForm.form.valid">
      {{ produto.id_produto ? 'Atualizar Produto' : 'Cadastrar Produto' }}
    </ion-button>
  </form>

  <!-- Listagem de produtos cadastrados -->
  <ion-list>
    <ion-item *ngFor="let produto of produtos">
      <ion-label>
        <h2>{{ produto.nome_produto }} ({{ produto.codigo_barras }})</h2>
        <p>Quantidade: {{ produto.quantidade }}</p>
        <p>Data de Validade: {{ produto.data_validade }}</p>
        <p>Categoria: {{ getCategoriaNome(produto.id_categoria) }}</p>
        <p>Preço Pago: {{ produto.valor_pago }}</p>
      </ion-label>
      <!-- Botões de Ação -->
      <ion-button color="primary" (click)="editProduto(produto)">Editar</ion-button>
      <ion-button color="danger" (click)="excluirProduto(produto.id_produto)">Excluir</ion-button>
    </ion-item>
  </ion-list>
</ion-content>