ion-app {
  --ion-background-color: #ffffff;
  --ion-background-color-rgb: 255, 255, 255; 
  background-color: #ffffff;
}

body {
  background-color: #ffffff !important;
}

ion-header {
  --background: #B6CFC6;
}

ion-toolbar {
  --background: #B6CFC6;
  color: #000000;  // Definindo a cor do texto como preto para contraste
}
